# Ignore dev-related folders
node_modules
.vscode
.git
.gitignore
npm-debug.log

# Docker and CI stuff
.dockerignore
Dockerfile
docker-compose*

# Ignore OS/IDE stuff
*.log
*.DS_Store
*.jfm
*.dbmdl
*.user