@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.mapboxgl-ctrl-top-left .mapboxgl-ctrl {
  background-color: #111827 !important; /* dark background */
  border: none;
  border-radius: 0.5rem;
  font-family: "Inter", sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.mapboxgl-ctrl input {
  background-color: #1f2937 !important;
  color: #f9fafb !important;
}

.mapboxgl-ctrl-directions {
  max-width: 400px;
}
