@import "tailwindcss";

html {
  font-family: "Gabarito", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.mapboxgl-ctrl input {
  background-color: rgba(0, 0, 0, 0.6) !important;
  color: white !important;
  backdrop-filter: blur(8px) !important;
  -webkit-backdrop-filter: blur(8px) !important; /* for Safari */
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
}

.mapboxgl-ctrl-geocoder ul,
.mapboxgl-ctrl-geocoder ul > li.active > a,
.mapboxgl-ctrl-geocoder ul > li > a:hover {
  background-color: rgba(0, 0, 0, 0.6) !important;
  color: white !important;
  backdrop-filter: blur(8px) !important;
  -webkit-backdrop-filter: blur(8px) !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
}
